@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-color: blueviolet;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  text-align: left;
  margin-left: 20em;
  margin-right: 15em;
}

.todolist {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}

.item {
  background-color: white;
  color: blueviolet;
  width: 40%;
  text-align: center;
  margin: 4px 0;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

.item.completed {
  background-color: blue;
  text-decoration: line-through;
}

form {
  width: 50%;
  display: flex;
  margin-left: 700px;
}

form > input {
  background-color: white;
  border: 0;
  padding: 10px 0;
  font-size: 1rem;
  width: 340px;
  outline: 0;
  color: white;
  border-bottom: 1px solid hotpink;
  margin-bottom: 10px;
}

.clear-btn {
  margin-top: 16px;
}

.add {
  background-color: white;
  border: 1px solid black;
  color: black;
  font-size: 30px;
  padding: 6px 14px;
  margin-bottom: 10px;
  margin-left: 30px;
}

input::placeholder {
  color: #e64944;
  opacity: 1;
}
